.btest {
  border: 1px solid rgb(247, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c0c0c !important;
}

li{
  display: inline-block;
  list-style-type: none;
}

h1 {
  text-align: center;
  color: #ffffff !important;
}

h2 {
  text-align: center;
  color: rgba(189, 189, 189, 0.822) !important;
  text-shadow: 1px 2px 1px rgba(43, 43, 43, 0.527) !important;
}

#score-p2 {
  text-align: right;
}

.bg{
  position: fixed !important;
}

.bg > img{
  opacity: 0.3;
}

.form-control {
  background-color: rgb(29, 29, 29) !important;
  border: 1px solid #0e0e0e !important;
}

.col {
  margin-top: 50px;
}

.player-area {
  margin-top: 30px;
  background-color: #222;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.062) !important;
}

.btn-primary {
  margin-top: 10px;
}

.btn-danger{
  position: fixed !important;
  top: 1.5em;
  left: 47%;
  z-index: 10;
}

.hidden {
  display: none;
  z-index: -1;
}

.board-game {
  position: absolute;
}

.score{
  background-color: #afafaf93;
  color: rgb(207, 207, 207);
  z-index: 9;
}

#score-p1{
  border-radius: 10px 0 0 10px;
}

#score-p2{
  border-radius: 0 10px 10px 0;
}

p{
  font-size: 1.3em !important;
}
