.btest {
  border: 1px solid rgb(247, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b6b6b6 !important;
}

h1 {
  text-align: center;
  color: #ffffff !important;
}

h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.726) !important;
  text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.062) !important;
}

#score-p2 {
  text-align: right;
}

.bg{
  position: fixed !important;
}

.bg > img{
  opacity: 0.3;
}

.form-control {
  background-color: rgb(29, 29, 29) !important;
  border: 1px solid #0e0e0e !important;
}

.col {
  margin-top: 50px;
}

.player-area {
  margin-top: 30px;
  background-color: #222;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.062) !important;
}

.btn-primary {
  margin-top: 10px;
}

.btn-danger{
  position: fixed !important;
  top: 2.0em;
  left: 45%;
  z-index: 10;
}

.hidden {
  display: none;
  z-index: -1;
}

.board-game {
  position: absolute;
}

.score{
  background-color: #f7f7f769;
  color: rgb(43, 43, 43);
  z-index: 9;
}
